/*home css start*/
div.count1{
	background-color: skyblue;
	text-align: center;
}
#count{
	color: white;
}
h1{
	margin-top: 10px;
	margin-bottom: 10px;
}
h2{
	margin-bottom: 20px;
	font-size: 50px;
}
/*nav css start*/
div.navbar{
	background-color: skyblue;
	opacity: 0.5px;
	padding: 20px;
	text-align: center;
	padding-left: 400px;
}
li{
	text-decoration : none;
	float: left;
}
li,a{
	text-decoration: none;
	color: white;
	list-style-type: none;

}
li,a:hover{
	color: maroon;
	background-color: pink;
}
li,a:active{
	color: red;
}
/*body css start*/
body{
	background-color: powderblue;
	background-image: url("images/sam.png");
	padding: 30px;
	margin: 40px;
	text-align: center;
	font-weight: bold;
	background-size: cover;
}